@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.default-scheme {
  --stone: #343330;
  --ghost: #f7f5f1;
  --ghost-shaded: #eeeae3;
  --stone-shaded: #282725;

  --base: var(--ghost);
  --base-shaded: var(--ghost-shaded);
  --contrast: var(--stone);
  --accent: var(--stone);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: var(--stone);
    --base-shaded: var(--stone-shaded);
    --contrast: var(--ghost);
    --accent: var(--ghost);
  }
}

button,
a {
  transition: all 0.2s ease-in-out;
}

a:not(.logo-link):active,
button:active {
  transform: translateY(1px);
}

.intro-animation {
  animation: 1.4s down-enter cubic-bezier(0.25, 1, 0.5, 1) backwards;
}

.fade-in {
  animation: 1.8s fade-in cubic-bezier(0.25, 1, 0.5, 1) backwards;
}

@keyframes down-enter {
  0% {
    /* clip-path: inset(0 100% 0 0); */
    transform: translateY(30px);
    opacity: 0;
  }
  40% {
    /* clip-path: inset(0 100% 0 0); */
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    /* clip-path: inset(0); */
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-link {
  @apply relative;
}

@keyframes grow {
  0% {
    transform: translateX(-50%) scale(0);
  }
  40% {
    transform: translateX(-50%) scale(0);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

.icon:hover {
  @apply text-accent;
}

@keyframes scale-up {
  0% {
    transform-origin: bottom center;
    transform: scaleY(0.25);
  }
  100% {
    transform-origin: bottom center;
    transform: scaleY(1);
  }
}

.more-link {
  @apply flex items-center gap-1 font-semibold hover:text-accent opacity-80 hover:opacity-100;
}

.arrow {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  --arrow-distance: 4px;
}

.arrow.left {
  --arrow-distance: -4px;
}

a:hover .arrow {
  transform: translateX(var(--arrow-distance));
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.box {
  animation: grow-and-shrink 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  width: 100px;
  height: 100px;
  background: #D2D6C5;
  margin: auto;
}
