@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-family: 'Libre Baskerville';
  font-size: 16px;
}

.wipe {
  animation: 1.4s down-enter cubic-bezier(0.25, 1, 0.5, 1) backwards;
}

.fade-in {
  animation: 2s fade-in cubic-bezier(0.25, 1, 0.5, 1) backwards;
}

@keyframes down-enter {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  40% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}



.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  clip-path: inset(0 0 100% 0);
  position: absolute;
  top: 0;
  transition: all .8s cubic-bezier(0,1.5,1,1.5);
  padding: 1rem;
}

.overlay-inner {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #982E35;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1rem;
}

.project-card:hover .overlay {
  clip-path: inset(0);
}

.nav-link {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
}

.nav-link.active::after {
  /* opacity: .5; */
  animation: grow .8s cubic-bezier(0.25, 1, 0.5, 1);
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: currentColor;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes grow {
  0% {
    transform: translateX(-50%) scale(0)
  }
  40% {
    transform: translateX(-50%) scale(0)
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

video {
  border-radius: 8px;
  animation: scale-up .3s ease-in-out;
}

@keyframes scale-up {
  0% {
    transform-origin: bottom center;
    transform: scaleY(.25);
  }
  100% {
    transform-origin: bottom center;
    transform: scaleY(1);
  }
}

