---
import MainHead from '../components/MainHead.astro';
import MainBody from '../components/MainBody.astro';
---

<html lang="en">
  <head>
    <MainHead title="Not Found" />
  </head>
  <MainBody>
    <div class="wrapper mt4 mb4">
      <h1>Page Not Found</h1>
      <p>Not found</p>
    </div>
  </MainBody>
</html>
