---
import MainHead from '../components/MainHead.astro';
import MainBody from '../components/MainBody.astro';
---

<html lang="en">
  <head>
    <MainHead title="Not Found" />
  </head>
  <MainBody>
    <section class="mx-auto max-w-[960px] min-h-[50vh] text-center grid place-items-center">
      <main>
      <h1 class='text-8xl mb-4'>4😮4</h1>
      <p class='font-serif'>(Page not found) <a href='/' class='text-accent underline font-bold'>Click here to go home</a></p>
      </main>
    </section>
  </MainBody>
</html>
