---
// Component Imports
import MainHead from '../components/MainHead.astro';
import MainBody from '../components/MainBody.astro';
import TextVideoPopover from '../components/text-video.jsx'
const posts = Astro.fetchContent('./thoughts/*.md');
const topPosts = posts.slice(0,3);
---
<html lang="en">
  <head>
    <MainHead title="Ben Adam: Personal Site" description="Ben: Designer, Developer, and Writer..." />
  </head>
  <MainBody>
    <section class='max-w-[960px] mx-auto py-24 wipe '>
      <h1 class='text-4xl mb-4'>Hello, my name is Ben.</h1>
      <h4 class='font-serif italic text-2xl max-w-[760px]'>
        I am a Software Designer / Engineer based in Tempe, AZ. <br> Currently I'm
        <span class='line-through opacity-50'>working at Amazon</span> enjoying a break before starting a <TextVideoPopover client:load>new adventure.</TextVideoPopover>
      </h4>
    </section>
    <section class='fade-in max-w-[960px] mx-auto pb-12'>
      <h2 class='uppercase text-sm mb-12'>Thoughts</h2>
      <ul>
        {topPosts.map(post => 
          <li class='block mb-8'>
            <h6 class='font-serif font-semibold text-grey2 text-sm mb-2'>{post.published}</h6>
            <a href={post.url}>
              <h3 class='text-3xl'>{post.title}</h3>
            </a>
          </li>
        )}
        <a href='/thoughts/' class='text-red hover:font-bold hover:underline'>See More</a>
      </ul>
    </section>
    <section class='fade-in max-w-[960px] mx-auto'>
        <h2 class='uppercase text-sm mb-12'>Experiments</h2>
      <main class='grid grid-flow-col snap-mandatory snap-x gap-4 overflow-auto'>
        {['Title One', 'Title Two', 'Title Three', 'Title Four', 'Title Five'].map(project => {
          return <article class='project-card aspect-video bg-blue snap-center min-h-[300px] relative'>
            <div class='overlay'>
              <div class='overlay-inner'>
                <h4>{project}</h4>
              </div>
            </div>
          </article>
        })}
      </main>
    </section>
  </MainBody>
</html>