---
// Component Imports
import MainHead from '../components/MainHead.astro';
import MainBody from '../components/MainBody.astro';
import TextVideoPopover from '../components/text-video.jsx'
import PostItem from '../components/post-item.jsx'
import ParticleAnimation from '../components/particle-animation.jsx';
import ImageColors from '../components/image-color.jsx';
import { sortDate }from '../scripts/utils.js';

const posts = Astro.fetchContent('./thoughts/*.md');
const topPosts = posts.sort(sortDate).slice(0,2);
---
<html lang="en">
  <head>
    <MainHead title="Ben Adam: Personal Site" description="Ben Adam is a Designer / Software Developer based in Tempe, Arizona." />
  </head>
  <MainBody>
    <section id='hero' class='py-24 intro-animation relative'>
      <h1 class='text-4xl mb-4 font-bold'>Hello, my name is Ben.</h1>
      <h4 class='font-serif italic text-2xl'>
        I am a Software Designer / Engineer based in Tempe, AZ. <br> Currently I'm
        <span class='line-through opacity-50'>working at Amazon</span> enjoying a break before starting a <TextVideoPopover client:load>new adventure.</TextVideoPopover>
      </h4>
    </section>
    <section class='fade-in pb-12'>
      <h2 class='uppercase text-sm mb-12 font-bold text-accent'>Recent Thoughts</h2>
      <ul>
        {topPosts.map(post => <PostItem {...post} /> )}
      </ul>
      <a href='/thoughts' class='more-link'>More <span class="arrow">→</span></a>
    </section>
    <section class='fade-in pt-12'>
      <h2 class='uppercase text-sm mb-12 font-bold text-accent'>Experiments</h2>
      <main class='flex gap-4 overflow-auto'>
        <ImageColors client:visible />
        <ParticleAnimation client:visible />
      </main>
      <a href='/experiments' class='more-link'>More <span class="arrow">→</span></a>
    </section>
  </MainBody>
</html>