---
// Component Imports
import MainHead from '../components/MainHead.astro';
import MainBody from '../components/MainBody.astro';
import TextVideoPopover from '../components/text-video.jsx'
import PostItem from '../components/post-item.jsx'
import ParticleAnimation from '../components/particle-animation.jsx';
const posts = Astro.fetchContent('./thoughts/*.md');
const topPosts = posts.slice(0,3);
---
<html lang="en">
  <MainHead title="Ben Adam: Personal Site" description="Ben: Designer, Developer, and Writer..." />
  <MainBody>
    <section class='py-24 wipe '>
      <h1 class='text-4xl mb-4'>Hello, my name is Ben.</h1>
      <h4 class='font-serif italic text-2xl max-w-[760px]'>
        I am a Software Designer / Engineer based in Tempe, AZ. <br> Currently I'm
        <span class='line-through opacity-50'>working at Amazon</span> enjoying a break before starting a <TextVideoPopover client:load>new adventure.</TextVideoPopover>
      </h4>
    </section>
    <section class='fade-in pb-12'>
      <h2 class='uppercase text-sm mb-12'>Recent Thoughts</h2>
      <ul>
        {topPosts.map(post => <PostItem {...post} /> )}
      </ul>
      <a href='/thoughts/' class='text-red hover:font-bold hover:underline uppercase text-sm'>See More</a>
    </section>
    <section class='fade-in'>
      <h2 class='uppercase text-sm mb-12'>Experiments</h2>
      <main class='grid grid-cols-2 gap-4'>
        <article class='bg-blue p-8 rounded-lg'>
          <ParticleAnimation client:load />
        </article>
        <article class='bg-red p-8 rounded-lg'>
          
        </article>
      </main>
    </section>
  </MainBody>
</html>