---
import QuizCards from "../../components/cards/QuizCards";
import GameOfLife from "../../components/GameOfLife.astro";
import HueSliderDemo from "../../components/HueSliderDemo.astro";
import ImageColors from "../../components/ImageColor.jsx";
import KeyframePlayer from "../../components/KeyframePlayer";
import MainBody from "../../components/MainBody.astro";
import MainHead from "../../components/MainHead.astro";
import ParticleAnimation from "../../components/ParticleAnimation.astro";
import PulsingActionButton from "../../components/PulsingActionButton.astro";
---

<html lang="en">
  <head>
    <MainHead
      title="Experiments"
      description="Interactions, widgets and other things I have been tinkering with"
    />
  </head>
  <MainBody>
    <section class="intro-animation max-w-[960px] mx-auto py-24">
      <h1 class="text-4xl mb-4 font-bold">Experiments</h1>
      <h2 class="font-serif text-2xl max-w-[820px]">
        Interactions, widgets and other things I have been tinkering with.
      </h2>
    </section>
    <section class="fade-in max-w-[960px] mx-auto py-12">
      <main>
      
        <QuizCards client:only="react" />
        <GameOfLife />
        <KeyframePlayer client:visible />
        <ParticleAnimation />
        <ImageColors client:visible />
        <HueSliderDemo />
        <PulsingActionButton />
      </main>
    </section>
  </MainBody>
</html>
