---
import Nav from "../components/Nav.astro";
import Footer from "./Footer.astro";
---

<body class="bg-base text-contrast">
  <header class="py-6 bg-base">
    <Nav />
  </header>
  <main class="max-w-[80ch] mx-auto px-4">
    <slot />
  </main>
  <Footer />
</body>
