---
import DecorativeHr from "./DecorativeHr.astro";
---

<nav class="max-w-[1200px] mx-auto px-8">
  <div
    class="flex justify-between mb-2 pb-4 text-xs md:text-[14px]"
  >
    <a href="/" class="site-logo">benadam ></a>
    <div class="align-center gap-4 md:gap-8 flex justify-center">
      <a class="nav-link" href="/thoughts"> Thoughts </a>
      <a class="nav-link" href="/experiments"> Experiments </a>
      <a class="nav-link" href="/work"> Work </a>
    </div>
  </div>
  <DecorativeHr />
</nav>

<script>
  document.querySelectorAll<HTMLAnchorElement>(".nav-link").forEach((link) => {
    const { pathname } = window.location;
    const path = link.pathname;

    if (path === pathname || (path.length > 1 && pathname.includes(path))) {
      link.classList.add("active");
    }
  });
</script>

<style>
  .site-logo {
    font-family: "Departure Mono", monospace;
    border: 1px solid var(--base);
  }
  .nav-link.active {
    font-weight: bold;
  }
</style>
