---
import HeadingSlider from "../../components/HeadingSlider";
import MainBody from "../../components/MainBody.astro";
import MainHead from "../../components/MainHead.astro";
import SectionHeading from "../../components/SectionHeading.astro";
import { sortDate } from "../../scripts/utils.js";
const posts = await Astro.glob("./*.md");
const work = posts
  .filter((post) => post.frontmatter.type !== "sideproject")
  .sort(sortDate);
const sideProjects = posts
  .filter((post) => post.frontmatter.type === "sideproject")
  .sort(sortDate);
---

<html lang="en">
  <head>
    <MainHead
      title="Work"
      description="Thing's I've made or learned at the various companies I have worked for"
    />
  </head>
  <MainBody>
    <section class="intro-animation max-w-[960px] mx-auto py-12">
      <h1 class="text-4xl mb-4 font-bold">Work</h1>
      <h2 class="font-serif text-2xl">
        Thing's I've made or learned at the companies I have worked for.
      </h2>
    </section>

    <section class="fade-in max-w-[960px] mx-auto my-24">
      <article class="border border-shadow relative aspect-video">
        <span
          class="border border-shadow bg-base p-1 px-2 absolute top-[-14px] left-[14px] text-xs"
        >
          About Me
        </span>
        <HeadingSlider client:load />
      </article>
    </section>

    <section class="fade-in max-w-[960px] mx-auto">
      <SectionHeading> Work </SectionHeading>
      <ul class="grid md:grid-cols-2 gap-8">
        {
          work.map((post) => {
            return (
              <li class="border border-shadow p-8 aspect-video relative flex flex-col justify-end">
                <span class="text-contrastShaded">
                  {post.frontmatter.title}
                </span>
              </li>
            );
          })
        }
      </ul>
    </section>

    <section class="fade-in max-w-[960px] mx-auto mt-12">
      <SectionHeading> Side Projects </SectionHeading>
      <ul class="grid md:grid-cols-2 gap-8">
        {
          sideProjects.map((post) => {
            return (
              <li class="border border-shadow p-8 aspect-video relative flex flex-col justify-end">
                <span class="text-contrastShaded">
                  {post.frontmatter.title}
                </span>
              </li>
            );
          })
        }
      </ul>
    </section>
  </MainBody>
</html>
