---
import MainHead from '../../components/MainHead.astro';
import MainBody from '../../components/MainBody.astro';
---
<html lang="en">
  <head>
    <MainHead title="Work" description="Thing's I've made or learned at the various companies I have worked for" />
  </head>
  <MainBody>
    <section class='intro-animation py-24'>
      <h1 class='text-4xl mb-4 font-bold'>Work</h1>
      <h2 class='font-serif italic text-2xl max-w-[820px]'>Thing's I've made or learned at the companies I have worked for.</h2>
    </section>
    <section class='fade-in'>
      <p class='font-serif text-xl opacity-80'>Coming someday 😬</p>
    </section>
  </MainBody>
</html>
