---
import MainHead from "../../components/MainHead.astro";
import MainBody from "../../components/MainBody.astro";
import { sortDate } from "../../scripts/utils.js";
import HeadingSlider from "../../components/HeadingSlider";
const posts = await Astro.glob("./*.md");
const postData = posts.sort(sortDate);
---

<html lang="en">
  <head>
    <MainHead
      title="Work"
      description="Thing's I've made or learned at the various companies I have worked for"
    />
  </head>
  <MainBody>
    <section class="intro-animation max-w-[960px] mx-auto py-24">
      <h1 class="text-4xl mb-4 font-bold">Work</h1>
      <h2 class="font-serif italic text-2xl">
        Thing's I've made or learned at the companies I have worked for.
      </h2>
      <HeadingSlider client:load />
    </section>
    <section class="fade-in max-w-[960px] mx-auto">
      {
        postData.map((post) => {
          return <li>{post.frontmatter.title}</li>;
        })
      }
    </section>
  </MainBody>
</html>
