---
import MainHead from '../components/MainHead.astro';
import MainBody from '../components/MainBody.astro';
const { content } = Astro.props;
---
<html lang={ content.lang || 'en' }>
  <head>
    <MainHead title={content.title} description={content.description}>
      <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/post.css')}>
    </MainHead>
  </head>
  <MainBody>
    <div class="post-content">
      <header class='py-12 wipe'>
        <h1>{content.title}</h1>
      </header>
      <div class='fade-in'>
        <slot />
      </div>
    </div>
    <script defer src={Astro.resolve('../scripts/post.js')}></script>
  </MainBody>
</html>
