---
import MainHead from '../components/MainHead.astro';
import MainBody from '../components/MainBody.astro';
const { content } = Astro.props;
---
<html lang={ content.lang || 'en' }>
  <head>
    <MainHead title={content.title} description={content.description} image={content.image}>
      <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/post.css')}>
      <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/prisma-light.css')}>
      <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/prisma-dark.css')}>
    </MainHead>
  </head>
  <MainBody>
    <div class="post-content">
      <header class='py-12 intro-animation'>
        <a href='/thoughts' class='more-link'><span class="arrow left">&larr;</span>All Posts</a>
        <h1>{content.title}</h1>
      </header>
      <div class='fade-in'>
        <slot />
        <a href='/thoughts' class='more-link my-12'><span class="arrow left">&larr;</span>All Posts</a>
      </div>
    </div>
    <script defer src={Astro.resolve('../scripts/post.js')}></script>
  </MainBody>
</html>
