---
import MainHead from '../components/MainHead.astro';
import MainBody from '../components/MainBody.astro';

const { content } = Astro.props;
---
<html lang={ content.lang || 'en' }>
  <head>
    <MainHead title={content.title} description={content.description} />
    <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/post.css')}>
  </head>
  <MainBody>
    <div class="post-content">
      <h1 class='py-12 wipe'>{content.title}</h1>
      <div class='fade-in'>
      <slot />
      </div>
    </div>
  </MainBody>
</html>
